.MovieCard{
    margin-top: 25px;
    background-color: #831010;
    width: 200px;
    display: flex;
    flex-flow: column wrap;
    border-radius: 20px;
    transition: 0.5s;
    align-items: center;
}

.MovieCard:hover {
    width: 250px;
}

.imgSource {
    height: 175px;
    width: 175px;
    margin-top: 15px;
    border-radius: 5px;
}
.modalVideo {
    width: 400px;
    height: 225px;
    border: none;
}

.likeButton {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 25px;
}
.watchedButton {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 25px;
}