.search-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 25px;
}

.close-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 25px;
}

.search-input{
    border-radius: 15px;
    background-color: #564d4d;
    color: white;
    border: none;
}

input[type=text] {
    width: 225px;
    padding: 12px;
    margin: 8px;
    outline: none;
}