.search-button {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 25px;
}

.close-button {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 25px;
}

.search-input{
    border-radius: 15px;
    background-color: #03adf6;
    color: black;
    border: none;
}

input[type=text] {
    width: 225px;
    padding: 12px;
    margin: 8px;
    outline: none;
}

input::placeholder {
    color: black;
}

.nowPlaying-button {
    background-color: #03adf6;
    color: black;
    cursor: pointer;
    border-radius: 15px;
    font-size: 20px;
    border: none;
    height: 40px;
    width: 130px;
    margin-top: 13px;   
    margin-left: 20px;
    color: black;
}