.MovieCard{
    margin-top: 25px;
    background-color: #831010;
    height: 300px;
    width: 250px;
    display: flex;
    flex-flow: column wrap;
    border-radius: 20px;
    transition: 0.5s;
    align-items: center;
}

/* TODO: FIX HOVER EFFECT */
/* .MovieCard:hover {
    width: 300px;
    height: 350px;
} */

.imgSource {
    height: 100px;
    width: 100px;
    margin-top: 15px    ;
}