header   {
    background-color: #831010;
    width: 100%;
    padding-bottom: 10px;
}

.sortSearchClass {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.headerTitle{
    padding-top: 5px;
    font-size: 40px;
}

.showFav {
    background-color: #564d4d;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    font-size: 20px;
    border: none;
    height: 30px;
    width: 100px;
    margin-top: 13px;
}