header   {
    background-color: #E50914;
    width: 100%;
    padding-bottom: 10px;
}

.sortSearchClass {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.headerTitle{
    font-size: 40px;
}